body {
  background-color: #dfe6e9;
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 24px;
}

.App-header {
  background-color: #b2bec3;
  height: 34px;
  /*padding: 10px;*/
  text-align: left;
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

.App-title {
  line-height: 22px;
  font-size: 22px;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;

  /*font-size: 1.8em;*/
  /*color: #666666;*/
  /*text-align: center;*/
  /*flex-grow: 1;*/
}

.App-content {
  margin: 10px;
  flex-grow: 1;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ok {
  background-color: green;
  color: white;
}
.err {
  background-color: red;
  color: white;
}
.warn {
  background-color: orange;
  color: black;
}
