.cluster-list {
    display: inline-block;
}
.cluster-list > li{
    line-height: 1.1em;
    text-align: left;
}

.cluster-list > li > a{
    text-decoration: none;
    color: #212529;
}

.cluster-list > li > a:hover{
    text-decoration: none;
    color: black;
}

.clusters-container {
    text-align: center;
}
